<div class="view">
  <input class="toggle" type="checkbox"<%= done ? 'checked' : '' %>>
  <label><%= title %></label>
  <a href="#" class="destroy"></a>
</div>
<input class="edit" type="text" value="<%= title %>">
